
__pycache__/
*.py[cod]
*$py.class


venv/
.env/
.venv/

build/
dist/
*.egg-info/
.eggs/
*.tar.gz
*.whl


pip-log.txt
pip-delete-this-directory.txt


*.spec

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

.pyric
.pypirc
.env.local
.env.development
.env.production


.ipynb_checkpoints


.vscode/
.idea/
*.swp
*.swo


.DS_Store
Thumbs.db

*~
